* {
    box-sizing: border-box;
    margin: 0;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 40vh  30vh;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas: 
        "nav nav nav"
        "title title title"
        ". ticket-card ."
        "footer footer footer";
}

@media (min-width: 750px) {
    .grid-container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 10vh 40vh minmax(min-content, max-content) 30vh;
        grid-template-columns: .2fr 1fr .2fr;
        grid-template-areas: 
            "nav nav nav"
            "title title title"
            ". ticket-card ."
            "footer footer footer";
            position: absolute;
    }
}

.nav-section {
    grid-area: nav;
    display: flex;
    background-color: black;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    position: sticky;
    top: 10;
}

.nav-links a {
    margin: 0 3vw;
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: paleturquoise;
}


.title-section{
    grid-area: title;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url("../css/picture/theater-image-background.png");
    background-size: 100% 100%;
}

.title-section p {
    font-size: 3.5rem;
    color: white;
}

.show-section {
    width: 100%;
    grid-area: ticket-card;
    height: 100%;
}

.show-flex {
    display: flex;
    flex-direction: column;
}

.month-bar {
    margin-top: 100px;
    margin-bottom: 40px;
    background-color: gray;
    font-size: larger;
    padding: 5px 3.5px 5px 30px;
    border: 1px solid black;    
}

.ticket-card {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 1.7rem;
    margin-bottom: 40px;
}

.ticket-card img {
    max-width: 20%;
    height: auto;
}

.ticket-card .title {
    font-size: 2rem;
}

.show-text {
    display: flex;
    flex-direction: column;
    
}

.button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-div button {
    padding: .7rem;
    background-color: peru;
    color: white;
    border: 1px solid black;
    font-size: larger;
}

.footer-section {
    width: 100%;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "map info shows social";
    background-color: black;
    color: white;
}

.footer-map {
    grid-area: map;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-list a {
    color: white;
    text-decoration: none;
}

.footer-list a:hover {
    text-decoration: none;
}
